body {
  font: normal 16px Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 10px 20px;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 0;
  margin: 0 0 0 20px;
}

.col-1-12 { width: 60px; }
.col-2-12 { width: 140px; }
.col-3-12 { width: 220px; }
.col-4-12 { width: 300px; }
.col-5-12 { width: 300px; }
.col-6-12 { width: 380px; }
.col-7-12 { width: 460px; }
.col-8-12 { width: 540px; }
.col-9-12 { width: 620px; }
.col-10-12 { width: 700px; }
.col-11-12 { width: 780px; }
.col-12-12 { width: 960px; }

.row {
  width: 960px;
  margin: 0 0 0 -20px;
}

.row::before,
.row::after {
  display: block;
  content: "";
  clear: both;
  line-height: 0;
}

.space {
  margin-bottom: 20px;
}

.table-title {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #8b8f84;
}

/*
*************************************************
FORMS
*************************************************
*/

.form-field-container {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  display: inline-block;
  width: 220px;
  height: 30px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font: inherit;
  line-height: 20px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  vertical-align: middle;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #8b8f84;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(139, 143, 132, 0.6);
}

textarea {
  height: 90px;
}

/*
*************************************************
TITLE
*************************************************
*/

.title {
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}

.subtitle {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
}

/*
*************************************************
BUTTONS
*************************************************
*/


.btn {
  display: inline-block;
  height: auto;
  padding: 4px 12px;
  margin-bottom: 0;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  background-color: #cccccc;
  background-image: linear-gradient(to bottom, #ffffff, #cccccc);
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.btn:hover {
  background-image: linear-gradient(to bottom, #ffffff, #bbbbbb);
}

.btn-main {
  color: #ffffff;
  background-color: #617873;
  background-image: linear-gradient(to top, #555555, #617873);
}

.btn-main:hover {
  background-color: #2f4944;
  background-image: linear-gradient(to bottom, #617873, #2f4944);
}

.btn-success {
  color: #ffffff;
  background-color: #67948a;
  background-image: linear-gradient(to top, #555555, #67948a);
}

.btn-success:hover {
  background-color: #2B675A;
  background-image: linear-gradient(to bottom, #67948a, #2B675A);
}

/*
*************************************************
FLASH MESSAGES
*************************************************
*/

.alert {
  padding: 10px;
  margin-bottom: 20px;
  color: #7d6713;
  background: #fff4cc;
  border-radius: 4px;
}

.alert-success {
  color: #4b9130;
  background: #c7e9ba;
}

.alert-error {
  color: #a03646;
  background: #f7c5cd;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  cursor: pointer;
}

/*
*************************************************
TOP NAVIGATION
*************************************************
*/

header {
  min-height: 40px;
  padding: 0;
  margin: 0;
  background-color: #dddddd;
  background-image: linear-gradient(to bottom, #dddddd, #ffffff);
}

.top-nav .brand {
  padding: 10px 0;
  margin: 0 20px;
  font-size: 1.3em;
  color: #555555;
}

.top-nav-inner {
  padding: 0 20px;
}

.top-nav > * {
}

.top-nav ul {
  list-style: none;
}

.top-nav .nav-item {
  display: inline-block;
  padding: 10px 0;
  margin: 0 20px 0 0;
  vertical-align: middle;
}

.top-nav .nav-item li {
  float: left;
  margin: 0 20px;
}

.top-nav .btn {
  font-size: .8em;
}

.top-nav-inner::before,
.top-nav-inner::after {
  content: "";
  display: block;
  clear: both;
}
