<%= render 'shared/content_title', title: 'Edit Transaction' %>

<div class="space">
  <%= link_to "Back to Account", account_path(@account), class: "btn btn-main" %>
</div>

<%= render 'shared/errors', obj: @transaction %>

<%= render 'form', account: @account, transaction: @transaction %>
