<%= render 'shared/content_title', title: 'Create New Transaction' %>


<div class="btn-group">
  <%= link_to "Back to Account", account_path(@account), class: "btn btn-warning" %>
</div>

<%= render 'shared/errors', obj: @transaction %>

<%= render 'form', account: @account, transaction: @transaction %>
