<%= render 'shared/content_title', title: 'Create New Account' %>

<div class="space">
  <%= link_to "Back to All Accounts", accounts_path, class: "btn btn-main" %>
</div>

<%= render 'shared/errors', obj: @account %>

<%= render 'form', account: @account %>
